:root{--foreColor:#000;--fore:#36f;--forei:#fff;--backColor:#fff;--shwColor1:#0004;--shwColor2:#0008;--mnu-size:2rem;--mnu-hr-color:#ccc;}
body{margin:0}
iframe{border:0}
a{color:inherit;text-decoration:none}
a:hover,a.on{color:var(--fore)}
input{position:relative}

.z{background:url(https://g.apx.kr/favicon.svg) no-repeat 50%/contain}

i.l{padding-left:2em}
i.lr{margin-right:.2em;padding-left:2em}
i.usrp{background:url('https://api.iconify.design/ant-design:user-add-outlined.svg') no-repeat 50% 50%/contain}
i.scan{background:url('https://api.iconify.design/flat-ui:search.svg') no-repeat 50% 50%/contain}
i.web{background:url('https://api.iconify.design/mdi:web.svg') no-repeat 50% 50%/contain}
i.mnu{background:url('https://api.iconify.design/mdi:menu.svg') no-repeat 50% 50%/contain}
i.md{background:url('https://api.iconify.design/mdi:menu-down.svg') no-repeat 50% 50%/contain}
i.put2{background:url('https://api.iconify.design/carbon:object-storage.svg?color=%23fff') no-repeat 50% 50%/contain}
i.eject{background:url('https://api.iconify.design/ph:eject-thin.svg') no-repeat 50% 50%/contain}
i.brand-google{background:url('https://api.iconify.design/logos:google-icon.svg') no-repeat 50% 50%/contain}
i.brand-naver{background:url('https://api.iconify.design/vs:naver-square.svg?color=%231ec800') no-repeat 50% 50%/contain}

.logo,.nav{display:inline-block;width:2em;height:2em}
.logo img{width:auto;height:100%}
.nav{padding:1em 0;width:10em;height:1em;line-height:1}
.link div{position:relative;height:2em}
.link label{display:block}
.link input{width:100%;background-color:transparent}
.link input[type=checkbox],.link input[type=radio]{margin:0}
.link [type=search]{padding-right:6.5em}
.link [type=submit]{position:absolute;top:0;right:0;width:6em;background:transparent}
.link label,.link input,.link button{border:0;height:100%}
.link button{line-height:0}
.link .ico{position:relative;display:inline-block;height:1.6em;width:2em}
.itxt b{position:absolute;bottom:-2px;width:100%;border-bottom:2px solid}
.btn b{position:absolute;left:0;top:0;width:100%;height:100%;border:2px solid #fff;border-radius:.8em;background:#237;box-sizing:border-box}

.mnu{box-shadow:0 0px 1px #0008}
.mn0 .z{float:left;width:var(--mnu-size);height:inherit;color:transparent;overflow:hidden}
.mn0 .z i{font-size:1em}
.mnu .rm{float:right;height:inherit}
.mnu .rm button{width:var(--mnu-size)}
.mn0 header{height:var(--mnu-size)}
.mn0 a,
.mn0 nav,
.mn0 form,
.mn0 label,
.mn0 input{display:inline;border:0;height:inherit;font-size:1em;background-color:transparent}
.mn0 button{padding:0;border:0;height:inherit;background:none;vertical-align:top;white-space:nowrap}
.mn0 i{padding-left:1em;font-size:2em;font-style:normal;vertical-align:middle}
.mn0 [name=mnu]{width:6rem}
.mn0 [name=mnu] i{vertical-align:top}
.mn0 [name=mnu] .t{padding:0;font-size:1.5em;vertical-align:middle;text-shadow:#0007 1px 1px 0}
.mn0 [name=usr]{background:center/contain}
.mn0 [name=usr][style] i{display:none}
.mn0 nav a{display:inline-block;padding:0 .5em}
.mn0 nav i{padding:0;font-size:1em}
.mn0 .sch{border-bottom:2px solid #eee}
.mn0 .sch input{width:15em}
.mn0 .usr{position:absolute;width:100%;max-width:320px;max-height:0%;top:0;right:0;box-shadow:0 0 1px var(--shwColor2),0 0 16px var(--shwColor1);overflow:hidden}
.mn0 .usr.on{max-height:100%}
.mn0 .usr [name=usr]{float:right;height:var(--mnu-size)}
.mn0 .usr [name=out]{float:left;width:var(--mnu-size);height:var(--mnu-size)}
.mn0 .usr .h{margin:0 var(--mnu-size);padding-left:.4em;height:var(--mnu-size);line-height:2}

aside{position:absolute;top:var(--mnu-size);left:0;bottom:0;right:100%;background:var(--shwColor1);overflow:hidden}
aside.on{right:0}
aside.on .g{margin-left:0px}
aside button{vertical-align:top}
aside i{font-style:normal}
aside a{display:block}
aside .g{margin-left:240px;width:240px;height:100%;background:var(--backColor);box-shadow:0 0 1px var(--shwColor2)}