:root{--foreColor:#000;--fore:#36f;--forei:#fff;}
body{margin:0}
iframe{border:0}
a{color:inherit;text-decoration:none}
a:hover,a.on{color:var(--fore)}
input{position:relative}

i.l{margin-right:.4em}
i[class]:empty{padding-left:2em;vertical-align:top}
i.scan{background:url('https://api.iconify.design/ant-design:security-scan-outlined.svg?color=%23fff') no-repeat 50% 50%/contain}
i.web{background:url('https://api.iconify.design/mdi:web.svg') no-repeat 50% 50%/contain}
i.mnu{background:url('https://api.iconify.design/mdi:menu.svg') no-repeat 50% 50%/contain}
i.md{background:url('https://api.iconify.design/mdi:menu-down.svg') no-repeat 50% 50%/contain}

.logo,.nav{display:inline-block;width:2em;height:2em}
.logo img{width:auto;height:100%}
.nav{padding:1em 0;width:10em;height:1em;line-height:1}
.link div{position:relative;height:2em}
.link label{display:block}
.link input{width:100%;background-color:transparent}
.link input[type=checkbox],.link input[type=radio]{margin:0}
.link [type=search]{padding-right:6.5em}
.link [type=submit]{position:absolute;top:0;right:0;width:6em;background:transparent}
.link label,.link input,.link button{border:0;height:100%}
.link button{line-height:0}
.link .ico{position:relative;display:inline-block;height:1.6em;width:2em}
.itxt b{position:absolute;bottom:-2px;width:100%;border-bottom:2px solid}
.btn b{position:absolute;left:0;top:0;width:100%;height:100%;border:2px solid #fff;border-radius:.8em;background:#237;box-sizing:border-box}

.mn0 [name=menu]{font-size:2em}
.mn0 [name=menu] i{padding-left:1em}