.signin .ss{position:relative;min-height:2em}
.signin form{margin:auto;max-width:320px}
.signin form label{position:relative;display:block;height:2em;line-height:2}
.signin form label i{font-style:normal}
.signin form .u label{height:4em;line-height:1}
.signin form .u input{padding:0 .4em;border:0;border-bottom:1px solid;width:100%;height:2em;font-size:1em;background:none;box-sizing:border-box}
.signin form .u input:focus{border-bottom:2px solid var(--fore);outline:0}
.signin form .s button{width:100%}