body{margin:0}
iframe{border:0}
a{color:inherit;text-decoration:none}
a:hover{color:#36f}
input{position:relative}

[data-module]{display:none}

.z{background:url(https://apx.kr/Nb/favicon.svg) no-repeat 50%/contain}
.mc button,.mc a{position:relative;padding:0;border:0;width:2em;height:2em;font-size:1em;background-color:transparent}
.mnu{position:relative;min-height:8em}
.tt{position:absolute;width:100%;top:0;bottom:-2em;background:#000;overflow:hidden}
.tt img{position:absolute;margin:auto;width:80%;min-width:20em;top:0;left:0;bottom:0;right:0}
.tu{width:50%;vertical-align:top}
.qk{position:absolute;border-radius:.5em 0 0 .5em;top:0;right:0;background:#fffa}
.qk i{vertical-align:middle}
.qk button{background:none}
.qk button,.qk a{float:left}
.bm ::after{position:absolute;border:1px solid currentColor;top:2px;right:2px;bottom:2px;left:2px;opacity:.5}

.logo{position:relative;padding-right:1em;vertical-align:top}
.logo img{border-radius:50%;width:auto;height:100%;border:.5em solid transparent;box-sizing:border-box}
.logo span{position:absolute;bottom:4em;left:100%;white-space:nowrap}
.opt{display:inline-block;margin-bottom:.5em;vertical-align:bottom}
.opt div{font-size:.8em}
.opt a{padding:.5em 0}
.opt a i{font-size:1.5em}
.opt a i,.opt a span{vertical-align:middle}
header,nav{position:absolute;bottom:0;left:0;right:0}
header{padding:0 2em;top:0;bottom:2em;min-width:16em;color:#fff}
nav{display:flex;margin:auto;max-width:32em;color:#fff;text-align:center}
nav a{flex:1;line-height:2}
nav a::after{content:"";right:0}
nav a:first-child::after{border-radius:1em 0 0 1em}
nav a:last-child::after{border-radius:0 1em 1em 0}

.category{position:absolute;top:2em;bottom:0;width:100%;overflow:auto}
i.l{margin-right:.4em}
i[class]:empty{padding-left:2em}
i.scan{background:url('https://api.iconify.design/flat-ui:search.svg') no-repeat 50% 50%/contain}
i.content{background:url('https://api.iconify.design/flat-ui:picture.svg') no-repeat 50% 50%/contain}
i.forum{background:url('https://api.iconify.design/noto:test-tube.svg') no-repeat 50% 50%/contain}
i.dots-v{background:url('https://api.iconify.design/mdi:dots-vertical.svg') no-repeat 50% 50%/contain}
i.caret-l{background:url('https://api.iconify.design/bi:caret-left.svg') no-repeat 50% 50%/contain}
i.folder{background:url('https://api.iconify.design/fxemoji:openfolder.svg') no-repeat 50% 50%/contain}
i.note{background:url('https://api.iconify.design/fxemoji:emptynote.svg') no-repeat 50% 50%/contain}
i.list{background:url('https://api.iconify.design/emojione:clipboard.svg?color=%23fff') no-repeat 50% 50%/contain}
i.cat{background:url('https://api.iconify.design/emojione:cat.svg') no-repeat 50% 50%/contain}
i.photo{background:url('https://api.iconify.design/openmoji:picture.svg') no-repeat 50% 50%/contain}
i.up{background:url('https://api.iconify.design/emojione-v1:up-right-arrow.svg') no-repeat 50% 50%/contain}
i.cmt{background:url('https://api.iconify.design/emojione-v1:two-speech-bubbles.svg') no-repeat 50% 50%/contain}
i.page{background:url('https://api.iconify.design/carbon:page-scroll.svg') no-repeat 50% 50%/contain}