body{margin:0}
iframe{border:0}
a{color:inherit;text-decoration:none}
a:hover{color:#36f}

input{position:relative}
.logo,.nav{display:inline-block;width:4em;height:3em;text-align:center;vertical-align:top}
.logo img{width:auto;height:100%}