body{margin:0}
iframe{border:0}
a{color:inherit;text-decoration:none}
a:hover{color:#36f}
input{position:relative}

.z{background:url(https://apx.kr/Nb/favicon.svg) no-repeat 50%/contain}
.mc button,.mc a{padding:0;border:0;width:2em;height:2em;font-size:1em;background-color:transparent}
.mnu{position:relative;min-height:8em;background:#000}
.tt{height:10em;overflow:hidden}
.tt img{position:absolute;margin:auto;width:80%;min-width:20em;top:0;left:0;bottom:0;right:0}
.tu{width:50%;vertical-align:top}
.qk{position:absolute;border-radius:.5em 0 0 .5em;top:0;right:0;background:#fffa}
.qk i{vertical-align:middle}
.qk button{background:none}
.qk button,.qk a{float:left}

.logo{position:relative;padding-right:1em;vertical-align:top}
.logo img{border-radius:50%;width:auto;height:100%;border:.5em solid transparent;box-sizing:border-box}
.logo span{position:absolute;bottom:4em;left:100%;white-space:nowrap}
.opt{display:inline-block;margin-bottom:.5em;vertical-align:bottom}
.opt div{font-size:.8em}
.opt a{padding:.5em 0}
.opt a i{font-size:1.5em}
.opt a i,.opt a span{vertical-align:middle}
header,nav{position:absolute;bottom:0;left:0;right:0}
header{padding:0 2em;top:0;bottom:2em;min-width:16em;color:#fff}
nav{display:flex;margin:auto;border-radius:1em;max-width:32em;text-align:center;background:#fff7}
nav a{flex:1;line-height:2}

aside{position:fixed;top:0;bottom:0;width:15em;line-height:2;background:#fff}
aside:not(.on){left:-15em}
aside a{display:block;padding-left:1em;background:url('https://api.iconify.design/bi:caret-right-fill.svg?color=%2307f') no-repeat 0/1em}
aside a[href$='s']{background:none}
aside i:not([class]){position:absolute;right:0;font-style:normal}
aside [name]{padding:.5em 0;border:0;font-size:1em;background:none}
.category{position:absolute;top:2em;bottom:0;width:100%;overflow:auto}
i.l{margin-right:.4em}
i[class]:empty{padding-left:2em}
i.scan{background:url('https://api.iconify.design/flat-ui:search.svg') no-repeat 50% 50%/contain}
i.content{background:url('https://api.iconify.design/flat-ui:picture.svg') no-repeat 50% 50%/contain}
i.forum{background:url('https://api.iconify.design/noto:test-tube.svg') no-repeat 50% 50%/contain}
i.folder{background:url('https://api.iconify.design/fxemoji:openfolder.svg') no-repeat 50% 50%/contain}
i.caret-l{background:url('https://api.iconify.design/bi:caret-left.svg') no-repeat 50% 50%/contain}
i.dots-v{background:url('https://api.iconify.design/mdi:dots-vertical.svg') no-repeat 50% 50%/contain}
i.note{background:url('https://api.iconify.design/fxemoji:emptynote.svg') no-repeat 50% 50%/contain}
i.list{background:url('https://api.iconify.design/bi:card-list.svg') no-repeat 50% 50%/contain}
i.cat{background:url('https://api.iconify.design/emojione:cat.svg') no-repeat 50% 50%/contain}