.postview article p{margin:.25em 0}
.postview article h1,
.postview article h2,
.postview article h3,
.postview article h4,
.postview article h5,
.postview article h6{margin:.5em 0}
.postview article table{margin:1em 0;border-collapse:collapse}
.postview article .lay-table-1{border:2px solid #ddd}
.postview article .lay-table-0 td,
.postview article .lay-table-1 td{border:1px solid #ddd}
.postview article .lay-table-2{border:1px solid #ddd}
.postview article .lay-table-2 td{border:1px dashed #ddd}
.postview article .lay-table-3{border:solid #888;border-width:2px 0}
.postview article .lay-table-3 tr{border:1px solid #ccc}
.postview article .lay-table-3 tr:not(:first-child):last-child{border-top:3px double;border-color:inherit}
.postview article .lay-table-1 tr:first-child,
.postview article .lay-table-2 tr:first-child,
.postview article .lay-table-3 tr:first-child{background:#f7f7f7}
.postview article .lay-table-4{border:solid #888;border-width:1px 0}
.postview article .lay-table-4 tr{border:solid #eee;border-width:1px 0}
.postview article .lay-table-4 tr:first-child{border-top:0}
.postview article .lay-table-4 tr:last-child{border-bottom:0}
.postview article .lay-table-5{border-top:2px solid #444;border-bottom:1px solid #aaa}
.postview article .lay-table-5 tr:first-child{border-bottom:1px solid #aaa}
.postview article .lay-table-5 tr:nth-child(1n+3){border-top:1px solid #eee}
.postview article .lay-table-6{border-bottom:1px solid #999}
.postview article .lay-table-6 tr:first-child{border-bottom:2px solid #333}
.postview article .lay-table-6 tr:not(:first-child){border-top:1px solid #eee}
.postview article .lay-table-7 tr{border:solid #eee;border-width:1px 0}
.postview article .lay-table-7 tr:nth-child(odd){background:#f7f7f7}
.postview article .lay-table-7 tr:first-child{background:#e3e3e3}
.postview article blockquote.default{}
.postview article blockquote.line{}
.postview article blockquote.bubble{}
.postview article blockquote.underline{}
.postview article blockquote.postit{}
.postview article blockquote.corner{}
.postview article .sourcecode{display:block;width:100%;box-sizing:border-box}
.postview article .CodeMirror{margin:2px 0;border:solid;border-width:1px 0;height:auto}
.postview article .fd{display:block;line-height:2}
.postview article .fd span{display:inline-block;vertical-align:top}
.postview article .fd .na{padding-right:.5em;max-width:50%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.postview article .fd .ext{padding:0 .5em;border-radius:.5em;color:var(--forei);background:var(--fore)}
.postview article .img img{display:block;width:100%}
.postview article .img1{overflow:hidden}
.postview article .img1 img{margin:1px;width:100%}
.postview article .img1 div{margin:-1px}
.postview article .img,
.postview article .img1{margin:.5em 0;line-height:0;white-space:nowrap}
.postview article .img p,
.postview article .img1 p{text-align:center;line-height:initial}
.postview article .fl{white-space:normal}
.postview article .fl div{margin:0}
.postview article .fl img{margin:0}
.postview article .sl div{overflow:auto}
.postview article .sl img{width:auto;max-width:50%;vertical-align:middle}
.postview article .video{margin:.5em 0}
.postview article .video .i{position:relative;text-align:center}
.postview article .video iframe{position:absolute;left:0;top:0;width:100%;height:100%}
.postview article .video img{max-width:100%}
.postview article .video .t{margin:.5em 0;font-size:1.5em}
.postview article .video .tags span{padding-right:.5em}