.mnu{margin-bottom:-2em;padding-bottom:2em}
section .cc{overflow:hidden;color:#fff}
section .cc a{display:inline-block;padding:0 .5em;width:auto;min-width:2em;line-height:2}
section .cc a::before{content:"";opacity:.3}
section .uu{z-index:1;position:absolute;left:0;right:0;background:#0008}
section .uu:not(.on){display:none}
section .uu div{display:flex;margin-left:auto;height:2em;max-width:20em;background:#fff}
section .uu label{flex:1;display:flex;line-height:2}
section .uu button{padding:0;border:0;width:2rem;background:none}
section .uu input:not([type=radio]){flex:1;padding:0 .5em;border:0;background:none}
section .uu label,section .uu button{position:relative}
section .uu label::before,section .uu button::before{content:""}
section article{position:relative;padding:0 0 .5em 0;cursor:pointer}
section article.t{display:none}
section article::before{content:"";border-top:1px solid #ccc;position:absolute;right:.5em;bottom:.4em;left:.5em}
section article i{font-size:.8em;font-style:normal}
section article i:not(:empty){padding:0 .2em}
section article a{position:absolute;top:0;right:.5em;font-size:.7em;font-weight:normal;text-align:right}
section article div{line-height:1.5;overflow:hidden}
section article div:not(.i0){padding-right:10em}
section article div:not(.i0) .photo
section article div:not(.i0) .photo+i{display:none}
section article h1{margin:0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
section article h1 em{color:#07f;font-style:normal}
section article p{position:relative;margin:0;font-size:5em;overflow:hidden;text-overflow:ellipsis}
section article p span{position:absolute;right:0;left:0;font-size:1rem;overflow:hidden}
section article img{position:absolute;margin:auto;padding:.8em;border-radius:1em;top:0;right:0;bottom:0;max-width:10em;max-height:100%;box-sizing:border-box}
section .sc .sort label{align-items:baseline}
section .sc input[type=radio]{margin:0 .5em}
section .navp{display:flex;height:2em;line-height:2;text-align:center}
section .navp a{flex:1;position:relative;padding:0;border:0;background:none}
section .navp a::before{content:""}
section .navp label{}
section .navp input{padding:0;width:100%;text-align:center}