section .cc{overflow:hidden;color:#fff}
section .cc a{display:inline-block;padding:0 .5em;line-height:2}
section .cc a::before{content:"";opacity:.3}
section article{position:relative;padding:0 0 .5em 0;cursor:pointer}
section article.t{display:none}
section article::before{content:"";border-top:1px solid #ccc;position:absolute;right:.5em;bottom:.4em;left:.5em}
section article i{font-size:.8em;font-style:normal}
section article i:not(:empty){padding:0 .2em}
section article a{position:absolute;top:0;right:.5em;font-size:.7em;font-weight:normal;text-align:right}
section article div{line-height:1.5;overflow:hidden}
section article div:not(.i0){padding-right:10em}
section article div:not(.i0) .photo
section article div:not(.i0) .photo+i{display:none}
section article h1{margin:0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
section article p{position:relative;margin:0;font-size:5em;overflow:hidden;text-overflow:ellipsis}
section article span{position:absolute;right:0;left:0;font-size:1rem;overflow:hidden}
section article img{position:absolute;margin:auto;padding:.8em;border-radius:1em;top:0;right:0;bottom:0;max-width:10em;max-height:100%;box-sizing:border-box}
section .go{z-index:1;position:absolute;left:0;right:0;background:#0008}
section .go:not(.on){display:none}
section .go div{display:flex;margin-left:auto;height:2em;max-width:20em;background:#fff}
section .go label{flex:1;display:flex}
section .go button{padding:0;border:0;width:2rem;background:none}
section .go input{flex:1;padding:0 .5em;border:0;background:none}
section .go label,section .go button{position:relative}
section .go label::before,section .go button::before{content:""}
section .navp{display:flex;height:2em;line-height:2;text-align:center}
section .navp a{flex:1;position:relative;padding:0;border:0;background:none}
section .navp a::before{content:""}
section .navp label{}
section .navp input{padding:0;width:100%;text-align:center}

aside{position:fixed;top:0;bottom:0;width:15em;line-height:2;background:#fff}
aside:not(.on){left:-15em}
aside a{display:block;padding-left:1em;background:url('https://api.iconify.design/bi:caret-right-fill.svg?color=%2307f') no-repeat 0/1em}
aside a[href$='s']{background:none}
aside i:not([class]){position:absolute;right:0;font-style:normal}
aside [name]{border:0;height:2em;font-size:1em;background:none}